/*======== App Global (Main Structure) Mention Here =======*/
#root, .app, {
	height: 100%;
	width: 100%;
}
.app-main-container {
	display: flex;
	flex-wrap: nowrap;
}
.rct-page-content {
  padding: $grid-gutter-width; //24px;
  background-color: rgb(239, 237, 236);
}
.rct-footer {
	box-shadow: $footer-box-shadow;
	background-color: $footer-bg;
	padding: 1.25rem; //20px;
	z-index: 9;
	h5 {
		margin-bottom: 0;
		color: $gray-600;
		font-size: 0.875rem; //14px;
	}
}
.rct-block {
	background-color: $block-bg;
	border-radius: $block-border-radius;
	box-shadow: $block-shadow;
	border: $block-border;
	transition: $block-transition;
	margin-bottom: $block-margin-bottom;
	position: relative;
	.rct-block-content {
		padding: $block-spacing;
	}
	&:hover {
		box-shadow: $block-hover-shadow;
	}
}
.rct-block-title {
  	padding: $block-title-spacing;
  	position: relative;
	// @include border(1px solid, $gray-300, bottom);
	.badge {
		vertical-align: middle;
	}
  	h4 {
		margin-bottom: 0;
		color: $block-title-color;
		font-size: $block-title-font-size;
		text-transform: $block-title-transform;
		font-weight: $block-title-font-weight;
		line-height: 30px;
  }
	.contextual-link {
		position: absolute;
		top: 20px;
		right: 20px;
		a {
			color: $block-contextual-color;
			font-size: $block-contextual-font-size;
			margin-right: 15px;
			&:hover {
				color: $blue;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.rct-block-footer {
	background-color: $block-bg;
  padding: $block-title-spacing;
  border-top: $block-footer-border-width solid $block-footer-border-color;
  
}

.card-footer {
	background-color: $block-bg;
}
.sub-title {
	padding: $block-title-spacing;
	margin-bottom: 1.25rem; //20px;
	h4 {
		margin-bottom: 0;
		color: $block-title-color;
		font-size: $block-title-font-size;
		text-transform: $block-title-transform;
		font-weight: $block-title-font-weight;
	}
}
[class*="gradient-"], [class^="gradient-"] {
	h4 {
		color: $white;
		border-color: $white;
	}
}
/*========== Page Breadcrumb ============*/
.page-title  {
   margin-bottom: 1.875rem; //30px;
   .breadcrumb{
      margin-bottom: 0;
   }
	.page-title-wrap > i {
		color: $breadcrumb-font-color;
		vertical-align: 3px;
		margin-right: 10px;
	}
	h2 {
		font-size: $breadcrumb-font-size;
		color: $breadcrumb-font-color;
      display:  inline-block;
      text-transform:capitalize;
		margin: 0;
	}
	.rct-creadcrumb {
		color: $breadcrumb-font-color;
		font-size: 14px;
		i {
			font-size: 12px;
			margin: 0 5px;
		}
	}
}

.dropZoner{
	width:880px;
	margin-top:15px;
	height: 375px;
	border: 2px dashed #e5e5e5;
	text-align: center;
	padding: 15% 0;
	
}
.dropZoner .filepicker{
	overflow-y: auto;
	overflow-x: hidden;
}

.dropZonee{
	width: 269px !important;
	height: 142px !important;
	background-color: #e2e2e2 !important;
	border: 2px solid #8e8787 !important;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.52);
	// margin-left:33.5%;
	display: inline-block;
	padding: 15% 0;
}
.dropZonee .filepicker-file-icon{
	// margin-top:200px;
}

.dropzone .dz-message{
	// margin-top:-100px !important;
	font-size: 20px;
    // line-height: 24px;
	// margin-bottom: 4px;
	// margin-top:30px !important;
	font-weight: 600;
	color: #8e8787;
	margin: 0.5em 0 !important;
}

.footerNote{
	color: #a2a2a2;
	font-size: 12px;
	margin-bottom: 4px;
	margin-top:75px;

}

.DocumentIcon{
	width: 50px !important;
	height: 50px !important;
}

.popupCloser{
	float: right;
    cursor: pointer;
    color: #e2e2e2;
}
.popupCloser:hover{
	color: black;
}
.fileUploadIcon{
	color: #5d92f4;
}
